.custom-pos-order-button {
    height: 80px;
    width: 110px;
    font-size: 18px;
}
.custom-pos-order-button-long {
    height: 80px;
    width: 160px;
    font-size: 18px;
}
.custom-pos-order-sheet{
    font-size: 18px;
}